name: SonarQube Scan
on: [push]

jobs:
  sonar-scan:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

     - name: Run Sonar Scanner
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        sonar-scanner -Dsonar.token=$SONAR_TOKEN
